* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.delay-4 {
  animation-delay: 1.75s;
}
.delay-3 {
  animation-delay: 2s;
}
body {
  font-family: rubik;
}
img {
  width: 100%;
}
.nav-menu {
  margin-left: auto !important;
}
ul.navbar-nav.nav-menu.my-2.my-lg-0.navbar-nav-scroll li a {
  font-size: 18px;
  font-weight: bold;
  padding: 27px 14px;
  font-family: rajdhani;
  transition: all 0.5s ease 0s;
}
ul.navbar-nav li a:hover {
  color: rgb(158, 89, 255) !important;
}
ul.navbar-nav li a.active {
  border-bottom: 4px solid rgb(158, 89, 255);
  color: rgb(158, 89, 255) !important;
}
a.navbar-brand {
  max-width: 145px;
}
button.logo-btn {
  background: rgb(34, 40, 56);
  border: none;
  padding: 26px;
  width: 103px;
  height: 98px;
}
a.theme-btn span {
  padding: 3px;
}
nav.navbar.navbar-expand-lg.bg-dark {
  padding: 0px;
}
.theme-btn {
  background: rgb(37, 43, 59);
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  outline: 0px;
  font-size: 18px;
  padding: 7px 22px;
  display: inline-block;
  margin: 0px 36px;
  transform: skew(-17deg);
  border-right: 6px solid;
  color: rgb(158, 89, 255) !important;
}
.theme-btn:visited {
  color: rgb(255, 255, 255);
}
.theme-btn > span {
  display: inline-block;
  transform: skew(21deg);
}
.container-fluid.offset-1 {
  padding: 0px;
}
ul.navbar-nav.nav-menu.my-2.my-lg-0.navbar-nav-scroll::before {
  content: "";
  width: 5px;
  height: 20px;
  background: rgb(15, 21, 44);
  border-radius: 30px;
  position: absolute;
  right: 0px;
  top: 34px;
}
ul.navbar-nav.nav-menu.my-2.my-lg-0.navbar-nav-scroll {
  position: relative;
  padding: 3px 17px;
}
.navbar.navbar-expand-lg {
  background-image: url("../images/Shape 1 copy.png");
  background-position: 21% 0%;
  padding: 0px 0px 30px;
  min-height: 128px;
}
.banner-section {
  background-image: url("../images/Home_Slider.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  padding-top: 54px;
  margin-top: -29px;
  min-height: 100vh;
  align-items: center;
  display: flex !important;
}
img.banner-man {
  max-width: 75%;
}
.banner-title {
  color: rgb(255, 255, 255);
}
.banner-title h5 {
  color: rgb(158, 89, 255);
  font-family: rubik;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  background-image: url("../images/Home_Slider1.png");
  background-position: -10% 46%;
  background-repeat: no-repeat;
  line-height: 16px;
  padding-top: 46px;
  background-size: auto;
}
.banner-title h1 {
  font-size: 90px;
  text-transform: uppercase;
  font-family: rubik;
}
.monkey-box {
  background-image: url("../images/squire.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
  display: grid;
  min-height: 207px;
  text-align: center;
  margin: 5px;
}
.monkey-box img {
  max-width: 150px;
  height: 150px;
}
div#tns1 {
  background: rgb(4, 12, 18);
  padding: 15px;
}
.none {
  display: none !important;
}
.input-box {
  width: 66.5%;
}
@media only screen and (max-width: 768px) {
  .banner-title h1 {
    font-size: 63px;
  }
  .banner-title h5 {
    color: rgb(158, 89, 255);
    font-family: rubik;
    font-size: 32px;
    background-position: 329% 70%;
    line-height: 73px;
    background-size: auto;
  }
  .navbar.navbar-expand-lg {
    background-position: 21% 100%;
    padding: 0px 0px 30px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  button.logo-btn {
    margin: 30px;
  }
  .monkey-box {
    background-size: contain;
  }
  .monkey-box img {
    max-width: 150px;
    height: 111px;
  }
  img.banner-man {
    max-width: 75%;
    padding-top: 30px;
  }
}

@media only screen and (max-width: 468px) {
  .monkey-box img {
    max-width: 97px;
    height: 80px;
  }
  .banner-title h1 {
    font-size: 40px;
  }
  a.navbar-brand {
    max-width: 107px;
  }
}
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1d212e;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #9370db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ba55d3;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ff00ff;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
